*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-color: rgb(18, 18, 39);
}

.details{
    text-align: center;
    color: aliceblue;
}

.details h1{
    font-size: 50px;
}

.details h2{
    font-size: 30px;
    margin-top: 10px;
}

.container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.btn {
    margin-top: 10px;
    width: 100px;
    height: 33px;
    border-radius: 50px;
    font-size: 15px;
    background: #242fff;
    color: azure;
    border: none;
}